extends layout

block content
	hr
	hr
	div(class="challenge-header challenge-header-color")
		h1(class="challenge-header-text challenge-header-text-color fade-in") FREQUENTLY ASKED QUESTIONS
	div(class="challenge-body faq-body-color")
		div(class="faq-container fade-in")
			div(class="faq-question")
				h2 How do i use this website?
				p Search your summoner name, then go ahead and play games and earn champions mastery points with the currently featured champions #{champions[challenges.champions.current[0]].name}, #{champions[challenges.champions.current[1]].name}, #{champions[challenges.champions.current[2]].name}, #{champions[challenges.champions.current[3]].name} and #{champions[challenges.champions.current[4]].name}.<br>Once you played one or more games, come back and update your profile. The champion points you earned in-game will be displayed as well as an estimated rank calculated for you.
			div(class="faq-question")
				h2 Why does it say that i am having zero mastery points?
				p Every summoner starts the challenge at zero champion mastery points. This allows everybody a fresh and fair start. Perform well in games, win games and queue up with friends (party bonus) to win more points.
			div(class="faq-question")
				h2 Do i have to build the item?
				p No. You just have to play games with the featured champions. Items are being granted as a reward/achievement after the challenge ends. The top #{challenges.limit} ranks receive a normal version of the item and the top 10 ranks a rare golden one instead. They will be displayed in your profile and keep track of your performance for you (points, rank, champion).
			div(class="faq-question")
				h2 With which champions do i earn points?
				p This changes every challenge. The current challenge features #{champions[challenges.champions.current[0]].name}, #{champions[challenges.champions.current[1]].name}, #{champions[challenges.champions.current[2]].name}, #{champions[challenges.champions.current[3]].name} and #{champions[challenges.champions.current[4]].name}.
			div(class="faq-question")
				h2 What does the countdown in the top right mean?
				p This is the deadline for the current challenge. Competing summoners then receive their rewards for the current challenge and a new challenge starts with the champions #{champions[challenges.champions.next[0]].name}, #{champions[challenges.champions.next[1]].name}, #{champions[challenges.champions.next[2]].name}, #{champions[challenges.champions.next[3]].name} and #{champions[challenges.champions.next[4]].name}.
			div(class="faq-question")
				h2 Do i have to update my points manually?
				p Yes, you do. Come back after you played a game or before the challenge ends and update your profile via the 'Update' button. There currently is no automatic update at the end of a challenge.
			div(class="faq-question")
				h2 How many times am i able to update my profile?
				p There are no limitations other than a 30 minute cooldown between updates. Which is about one game length, so feel free to update after every game.
			div(class="faq-question")
				h2 Can i enter and update other summoners?
				p Sure, but that would increase the competition for you :P<br>Feel free to check your friends points though.
			div(class="faq-question")
				h2 I just played a game it says zero points?
				p You have to enter the challenge first, then play your games. Games played before you entered the challenge do not count. If you search your summoner for the first time, it may be that you automatically enter the challenge. But after the first time you have to enter each challenge manually.
			div(class="faq-question")
				h2 I entered my summoner and i already have points?
				p Apparently someone else has applied you into the challenge already. There is no real drawback. You should thank the summoner who entered you :)
			div(class="faq-question")
				h2 Why does the final rank differ from the estimated one?
				p The final rank calculations at the end of a challenge take into consideration that multiple summoners may have gained the same amount of points. These summoners share the same rank and therefore boost your own in the process. The estimated one does not check for duplicate points. It also depends on how frequent other summoners update their own points in the course of the challenge.
			div(class="faq-question")
				h2 Do i receive the same item (achievement) multiple times?
				p No. However the item updates itself if your rank in the current challenge is higher than the rank it currently shows. This enables you to updated the item to a rare golden item.
			div(class="faq-question")
				h2 Do items have different rarity?
				p Yes. Items which have a small gold cost in-game are usually much more rare. If you see an Healthpotion in the next challenge comming up, be sure that a lot of people may race for it.
			div(class="faq-question")
				h2 Why does each champion have a different item as a reward?
				p Some players like hunting achievements and this enables them to choose for which items they want to race. The champion-item constellations offer some nice consideration when somebody already has multiple achievements.
			div(class="faq-question")
				h2 Is the website's source code somewhere?
				p Yes, you can find the source code over at <a href="https://github.com/un0btanium/ChampionChallenge">GitHub</a>. This website was created and part of the <a href="https://developer.riotgames.com/discussion/announcements/show/eoq3tZd1">Riot API Challenge 2016</a>.
			div(class="faq-question")
				h2 Which software did you use to create the website?
				p The website is currently running on Javascript, using NodeJS, Express and MongoDB on the backend and AngularJS on the frontend. Jade was used as an HTML Template Engine. This framework is also known by the name MEAN stack framework as in <i>M</i>ongoDB <i>E</i>xpress <i>A</i>ngularJS <i>N</i>ode. The summoner information are retrieve through the Riot API (via <a href="https://github.com/claudiowilson/LeagueJS">LeagueJS</a>) and stored in MongoDB.
			div(class="faq-question")
				h2 How do i contact you?
				p Feel free to send me an email at unobtaniumlol@gmail.com